body {
	margin: 0px;
	background-color: rgb(245,245,245);
	font-size: 30px;

}
 #banner {
 	background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1608&q=80);
 	color: blue;
 	text-align: center;
 	text-shadow: 1px 1px 5px grey;
 }

h1 {
	color:#FFFDF1;
	font-family: 'Mansalva', cursive;
background-image: url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80);
background-repeat: no-repeat;
height: 500px;
width: 1500px;
font-size: 50px
}

}


h2 {
	font-family: 'Mansalva', cursive;
	color: ###FFFDF1;
	margin-top: 100px;
	width: 300px;
    border-left-width: 10px;
    padding-left: 20px;
    margin-left: 500px;

}
h3 {
	font-family: 'Mansalva', cursive;
	color: ##151F2B;
	margin-top: 200px;
	width: 500px;
    border-left-width: 20px;
    padding-left: 20px;
    margin-left: 500px;

">
}

h4 {
	font-family: 'Mansalva', cursive;
	color: #151F2B;
	margin-top: 100px;
	width: 300px;
    border-left-width: 10px;
    padding-left: 20px;
    margin-left: 500px;

}

<link href="https://maxcdn.bootstrapcdn.com/font




